* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: #d8d6d8;
	color: #282828;
}	

.absolute-horizontal-center {
	left: 50%;
	transform: translateX(-50%);
}

input,
button {
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	box-shadow: 0 1px 0 #bfbebf;
	display: block;
	padding: 10px;
}

.logo {
	background-image: url('logo.png');
	width: 300px;
	height: 205px;
	margin: auto;
	background-size: 300px;
	transition: all .6s;
}

.logo.small {
	width: 150px;
	height: 100px;
	background-size: 150px;
}

.index {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	color: #2c3e50;
	width: 960px;
	margin: 10px auto 0 auto;
}